@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");

$colour1: #0f0a0a;
$colour2: #f5efed;
$colour3: #2292a4;
$colour4: #c33149;
$colour5: #bdbf09;

$font1: "Lalezar", cursive;

$header-height: 42px;
$footer-height: 35px;
$routes-height: calc(100vh - $header-height - $footer-height);
